*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header h1{
    text-align: center;
    font-size: 3rem;
    margin: 3rem;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

div.wrapper{
    max-width: 500px;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
}

div.slide{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 600px;
    max-height: 950px;
}

div.slider-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
}

div.slider-button.prev{
    right: 105%;
}

div.slider-button.next{
    left: 105%;
}

div.thumbnails{
    display: flex;
    height: 150px;
}

div.thumbnails img{
    filter: brightness(30%)
}

div.thumbnails img.active{
    filter: brightness(100%);
}
